@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body .titulo {
    font-family: 'Shizuru', cursive;
}

.footer {
    position: fixed;
    bottom: 0;
}

.textcenter {
    text-align: center;
}

.img-aviso {
    width: 300px;
    height: 300px;
}

.container_mensaxes {
    height: 100px;
}

.nota {
    text-align: center;
    white-space: normal;
}